html, body , .container-fluid{
  height: 100%;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.full-height {
  height: 100%;
}

.text-color{
  color: #172b4d;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.left-content{
  background-color: #f4f5f7;
  max-height:100%;
}
.entity-name{
  padding-top: 10px;
}
.padding-15 {
  padding: 15px;
}

input[type=text] {
  width: 50%;
  box-sizing: border-box;
  height: 40px;
}

li:nth-child(odd) { 
  background-color: #f1f9fb;
  
}

#comment-table .table, #comment-table .table th, #comment-table .table td{
  font-size: 12px;
  padding: 5px;
}

.my-auto {
  margin-top: auto;
margin-bottom: auto;
}
.mrg-200{
  margin-top: 200px;
}

.comment-data {
  margin-top: 15px;
}

.clear-button {
  height: 30px;
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

table.list-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin:50px;
}

.list-table td, .list-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.list-table tr:nth-child(even) {
  /* background-color: #dddddd; */
}

table.list-table td, table.list-group th {
  text-align: left;
}

table.list-table td:nth-child(1),table.list-table th:nth-child(1) {
width:20%
}

table.list-table td:nth-child(2) , table.list-table th:nth-child(2) {
  width:50%
}

table.list-table td:nth-child(3),table.list-table th:nth-child(3)  {
  width:30%
}

.compare-btn {
  text-align: center;
  margin: 30px auto;
  width:30%;
}

.cnt-hgt {
  min-height: calc(100vh - 120px);
}

.loading-bar {
  position: absolute;
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  opacity: 0.5;
}

.form-switch {
  float: right;
  display: block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: .5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.floatleft {
  float: left;
}

.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }

.form-switch input { display: none; }

.form-switch input:checked + i { background-color: #4BD763; }

.form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }

.small-text {
  font-size: 12px;
  color: gray;
}

.rootpath {
  width:175px !important;
}

.p-tb-10 {
  padding: 10px 0;
}